body {
  background-color: #e0e0e0;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.news-card {
  border-style: solid;
  border-radius: 50px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#techcrunch {
  border-color: #0a9e01;
}

#venturebeat {
  border-color: #f01014;
}

#digitaltrends {
  border-color: #00a4fe;
}

#hackernews {
  border-color: #f36424;
}

h3 {
  align-items: center;
  background-color: #e0e0e0;
  box-shadow: 
      20px 20px 60px #bebebe,
      -20px -20px 60px #ffffff;
  border-radius: 30px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin-right: 0rem;
  margin-left: 0rem;
  font-size: 15px;
  font-weight: lighter;
  padding: 0px 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header p {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
}

.header p.logo-app {
    color: #370062;
    font-weight: bolder;
    font-size: 40px;
    float: left;
    margin-left: 50px;
}

.header-right {
    float: right;
}

.header p.subtitle {
    color: #808080;
    margin-right: 100px;
    font-style: italic;
}

.container {
  display: flex;
}

.content {
  flex-grow: 1;
  flex-basis: 80px;
  border-style:hidden;
}

a:link {
  color: #2E2834;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #2E2834;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #22004b;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  overflow: visible;
}
a:active {
  color: #32DBBE;
  background-color: transparent;
  text-decoration: underline;
}

.logo{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}